@import "tailwindcss";


.btn-style {
  @apply 
  w-[100px] 
  h-[32px] 
  border-2 border-black 
  rounded-3xl
  hover:bg-blue-200 
  cursor-pointer;
}

.chatbox-style {
  @apply
  w-[600px]
  h-[100px]
  p-[10px]
  border-2 border-black
  shadow-sm
  text-gray-800
  overflow-y-auto
  whitespace-pre-line
  flex
  flex-col-reverse
  mx-auto;
}

.send-msg-style {
    @apply
    w-[400px]
    h-[50px]
    p-[10px]
    border-2 border-black
    shadow-sm
    text-gray-800
}

.displaybox {
  @apply
  fixed
  inset-0
  flex
  items-center
  justify-center
  bg-gray-100;
}

.mainboxDisplay {
  @apply
  fixed 
  top-1/2 
  left-1/2 
  -translate-x-1/2 
  -translate-y-1/2 
  bg-white w-[650px] 
  p-6 rounded-xl 
  shadow-2xl 
  text-center z-50
}